.nested-fields
  =f.inputs :class => "form-inline" do
    =f.input :url, :as => :string, :label => "URL", :wrapper_html => {:class => "pull-left mr-1 link_url"}
    =f.input :title, :as => :string, :label => "Title", :wrapper_html => {:class => "pull-left mr-1 link_title #{'title_blank' if f.object.title.blank?}"}
    =link_to_remove_association "x Remove link", f, :class => "pull-left"
  %hr