-content_for(:head) do
  :javascript
    $(document).ready(function() {
      Link.init();
      $('#links').bind('insertion-callback', function() {
        Link.init();
      });
    });
=form.semantic_fields_for :links do |link_form|
  =render("links/fields", :f => link_form)
=link_to_add_association "+ Add a link", form, :links, :partial => "links/fields", :"data-association-insertion-node" => '#links .add_fields'